
@{
    ViewBag.Title = "GetData";
}

<h2>GetData</h2>

<div class="col-md-12">
    <div class="col-md-6">
        <form>
            <input type="hidden" id="EmpId" value=""/><br />
            <label>EmpName</label>
            <input type="text" id="EmpName" value="" class="form-control" /><br />
            <label>EmpSalary</label>
            <input type="text" id="EmpSalary" value="" class="form-control" /><br />
            <button class="btn btn-success" onclick="SaveEmployee()">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        <table id="table-1" class="table table-bordered">
            <tr>
                <th>Srno</th>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>EmpSalary</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
</div>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>

    $.ajax({
        url: "https://localhost:44382/api/employeeDetailsApi",
        dataType:"json",
        type: "GET",
        success: function (result) {
            $.each(result, function (i, key) {

                $('#table-1 tr:last').after("<tr><td>" + (i + 1) + "</td><td>" + key.EmpId + "</td><td>" + key.EmpName + "</td><td>" + key.EmpSalary + "</td><td><a class='btn btn-success' onclick='EditEmployeeById(" + key.EmpId + ")'>Edit</a><a class='btn btn-warning' onclick='DeleteEmployee(" + key.EmpId +")'>Delete</a></td></tr>");
                
            })
        }


    })
// save Employee Record

    function SaveEmployee() {

        if ($('#EmpId').val() == "") {
            $.ajax({
                url: "https://localhost:44382/api/employeeDetailsApi",
                dataType: "json",
                type: "Post",

                data: {
                    EmpName: $('#EmpName').val(),
                    EmpSalary: $('#EmpSalary').val()
                },

                success: function (result) {
                    alert("Saved Successfully")
                }


            })
        }
        else {

            EditEmployee();

        }


         
        

    }

    //To GetRecord
    function EditEmployeeById(eid) {
        

       

        $.ajax({
            url: "https://localhost:44382/api/employeeDetailsApi?id="+eid,
            dataType: "json",
            type: "GET",

            success: function (result) {
                console.log(result);
                $('#EmpId').val(result.EmpId),
                $('#EmpName').val(result.EmpName),
                $('#EmpSalary').val(result.EmpSalary)
            }


        })





    }

    ////To Modify the record
    function EditEmployee() {

        $.ajax({
            url: "https://localhost:44382/api/employeeDetailsApi?id=" + $('#EmpId').val(),
            dataType: "json",
            type: "PUT",

            data: {
                EmpId: $('#EmpId').val(),
                EmpName: $('#EmpName').val(),
                EmpSalary: $('#EmpSalary').val()
            },

            success: function (result) {
                alert("Saved Successfully")
            }


        })





    }

    function DeleteEmployee(eid) {

        $.ajax({
            url: "https://localhost:44382/api/employeeDetailsApi?id=" + eid,
            dataType: "json",
            type: "DELETE",

            success: function (result) {
                alert("Deleted Successfully")
            }


        })





    }

</script>